body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  .counter {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .buttons {
    display: flex;
  }
  button {
    font-size: 30px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    border-color: blue;
    border-width: 1px;
    
    display:flex;
    justify-content: center;
    align-items: center;
   
  }
  button:hover {
    background-color: #000;
    color: aliceblue;
  }